body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Canvas etc */
#canvas-container {
    position: relative;
    max-width: 100dvw;
    max-height: 100dvh;
    aspect-ratio: 6811/3331;
    margin: auto;
    overflow: hidden;
}

#canvas {
    position: static;
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* For zooming/panning: */
    transition: transform 2s;
}

#world-map {
    height: 100%;
    width: 100%;
}

/* Location markers */
img.location {
    position: absolute;
    width: 2.5dvh;
    height: 2.5dvh;
    margin-left: -1.25dvh;
    margin-top: -2.5dvh;
    cursor: pointer;
    transition-duration: 500ms;
    opacity: 90%;
}

img.location:hover{
    width: 3.5dvh;
    height: 3.5dvh;
    margin-left: -1.75dvh;
    margin-top: -3.5dvh;
}

/* Other assets */
#atuin {
    position: absolute;
    width: 30%;
    z-index: 1000;
    left: -40%;
    top: 45%;
    rotate: -20deg;
}

#atuin.flown {
    left: 100%;
    top: 20%;
    rotate: 0deg;
    transition: all 5s ease-in;
}

#hobbit-hole {
    position: absolute;
    width: 20%;
    z-index: 1000;
    right: -5%;
    bottom: -50%;
    transition: all 1s ease-in-out;
}

#hobbit-hole.popped {
    width: 30%;
    right: -5%;
    bottom: -10%;
    transition-delay: 1s;
}

#venus {
    position: absolute;
    height: 10%;
    z-index: 1000;
    left: 120%;
    top: 100%;
    rotate: 0deg;
}

#venus.retrograded {
    left: -20%;
    top: -30%;
    rotate: -3600deg;
    transition: all 2s ease-in;
}

#coin {
    position: absolute;
    height: 20%;
    left: -10%;
    bottom: -2%;
    z-index: 1000;
}

#coin.rolled {
    left: 110%;
    rotate: 1800deg;
    transition: all 5s ease-in;
}

/* Pop up */
.popup {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2dvh;
    border: 0.5dvh solid green;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease-in, visibility 0ms linear 250ms;
}

.popup.show {
    visibility: visible;
    opacity: 60%;
}

p.main-text {
    text-align: center;
    padding-top: 3dvh;
    padding-left: 1dvh;
    padding-right: 1dvh;
    margin: 0;
    font-size: 2.2dvh;
}

p.extra-text {
    text-align: right;
    padding: 1dvh;
    margin: 0;
    font-size: 2dvh;
    font-style: italic;
}

img.nav-buttons {
    position: fixed;
    height: 40%;
    transform: translate(-50%,-50%);
    top: 50%;
}

img.nav-buttons:hover{
    opacity: 100%;
}

#next-button {
    left: 110%;
}

#prev-button {
    left: -10%;
}

/* Search bar */
.searchbar {
    position: fixed;
    bottom: 0;
    left: 35dvw;
    right: 35dvw;
}

.searchbar-items{
    position: relative;
    width: 30dvw;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

#search-input{
    width: 30dvw;
    box-sizing: border-box;
    background-image: url('searchicon.png');/*TODO*/
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#search-input:focus {outline: 3px solid #ddd;}

#search-results a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: none;
}

#search-results a:hover {background-color: #ddd;}

/* Version box */
/* Sizes done in dvh to keep same scaling when we zoom */
p.version {
    position: fixed;
    top: 0;
    right: 0;
    height: 2dvh;
    aspect-ratio: 5 / 1;
    margin: 0;
    text-align: center;
    font-size: 1.5dvh;
    color: #ababab;
    background-color: rgb(228, 228, 228);
}