body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Canvas etc */
#canvas-container {
    position: relative;
    max-width: 100dvw;
    max-height: 100dvh;
    aspect-ratio: 2048/1267;
    margin: auto;
    overflow: hidden;
}

#canvas {
    position: static;
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* For zooming/panning: */
    transition: transform 2s;
}

#world-map {
    height: 100%;
    width: 100%;
}

/* Location markers */
img.location {
    position: absolute;
    width: 3%;
    height: 3%;
    margin-left: -1.5%;
    margin-top: -3%;
    cursor: pointer;
    transition-duration: 500ms;
}

img.location:hover{
    width: 4%;
    height: 4%;
    margin-left: -2%;
    margin-top: -4%;
}

/* Pop up */
.popup {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 2dvh;
    border: 0.5dvh solid green;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 500ms ease-in, visibility 0ms linear 250ms;
}

.popup.show {
    visibility: visible;
    opacity: 80%;
}

#close-button {
    display: block;
    width: 3%;
    height: 3%;
    margin-left: auto;
    margin-right: 0;
    padding: 0.5%;
}

p.main-text {
    text-align: center;
    padding: 3dvh;
    margin: 0;
    font-size: 2dvh;
}

p.extra-text {
    text-align: right;
    padding: 1dvh;
    margin: 0;
    font-size: 1.8dvh;
    font-style: italic;
}

/* Version box */
/* Sizes done in dvh to keep same scaling when we zoom */
p.version {
    position: fixed;
    top: 0;
    right: 0;
    height: 2dvh;
    aspect-ratio: 5 / 1;
    margin: 0;
    text-align: center;
    font-size: 1.5dvh;
    color: #ababab;
    background-color: rgb(228, 228, 228);
}